# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr
out/

# VS Code
.vscode/

# Eclipse
.metadata/
bin/
tmp/
*.tmp
*.bak
*.swp
.project
.classpath
.settings/

# Maven
target/
pom.xml.backup
.mvn/wrapper/maven-wrapper.jar

# Gradle
.gradle/
build/
.classpath
.project
.settings/
.sts4-cache/

# Spring Boot DevTools
.spring-boot-devtools.properties

# Ejecutables Java
*.jar
*.war
*.class

# Frontend (Astro/SvelteKit con Node.js/npm)
frontend/node_modules/
frontend/.svelte-kit/
frontend/.astro/
frontend/dist/
frontend/.cache/
frontend/.output/
frontend/.netlify/
frontend/.vercel/

# Archivos de entorno
.env
backend/.env
frontend/.env
*.env.local
*.env.development
*.env.production
*.env.*.local

# Logs
*.log

# Ficheros temporales del sistema operativo
.DS_Store
Thumbs.db

# Otros archivos comunes
*.iml
*.o
*.obj
*.exe
*.dll
*.so
*.dylib
*.cd
*.elf

# idx specific
.idx/
idx-manifest.json # Ejemplo
